@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  @apply transition-all duration-200 cursor-pointer;
}
.btn-primary {
  background: linear-gradient(90deg, #5d905c, #8cc455);
  color: white;
}
.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(93, 144, 92, 0.4);
}
.btn-secondary {
  background-color: #f0f0f0;
  color: #666;
}
.btn-secondary:hover {
  background-color: #e0e0e0;
}
